@model HastaBilgiSistemi.Entities.Dtos.UserPasswordChangeDto
@{ Layout = "_Layout";
   ViewBag.Title = "Parola Değiştir"; }
<div class="col-xl-4 col-md-6 col-sm-12 offset-4">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Parola Değiştir</h4>
                <form asp-controller="Account" asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                    <div class="form-group has-icon-left">
                        <label asp-for="CurrentPassword"></label>
                        <div class="position-relative">
                            <input class="form-control" asp-for="CurrentPassword" placeholder="Lütfen, mevcut parolanızı giriniz." />
                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                            <div class="form-control-icon">
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-icon-left">
                        <label asp-for="NewPassword"></label>
                        <div class="position-relative">
                            <input class="form-control" asp-for="NewPassword" placeholder="Lütfen, yeni parolanızı giriniz." />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                            <div class="form-control-icon">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-icon-left">
                        <label asp-for="RepeatPassword"></label>
                        <div class="position-relative">
                            <input class="form-control" asp-for="RepeatPassword" placeholder="Lütfen, yeni parolanızı tekrardan giriniz." />
                            <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                            <div class="form-control-icon">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-icon icon-left btn-lg btn-danger btn-block"><i class="fas fa-times-circle"></i>İptal</button>
                        <button type="submit" class="btn btn-icon icon-left btn-lg btn-info btn-block"><i class="fas fa-save"></i>Değiştir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
